<script>
	$(function() {
		$('#deleteAccountBtn').on('click',function() {
			let confirmDeleteModal = new ConfirmActionModal({
				title: 'Are you sure?',
				message: 'Are you sure you wish to delete your account? All of your data will be permanently removed.',
				saveCallback: function() {
					deleteAccount().then(function() {
						window.location.href = '/';
					}).catch(function(err) {
						console.log(err);
					});
				}
			});
			confirmDeleteModal.load().then(function() {
				confirmDeleteModal.show();
			});
		});

		const createUserAuthToken = function() {
			return new Promise(function(resolve, reject) {
				$.ajax({
					method: 'post',
					url: '/api/userAuthToken',
					success: resolve,
					error: reject
				});
			});
		};
		$('#createAuthTokenBtn').on('click',function(e) {
			createUserAuthToken().finally(function(userAuthToken) {
				window.location.reload();
			});
		});

		const deleteUserAuthToken = function(userAuthTokenId) {
			return new Promise(function(resolve, reject) {
				$.ajax({
					method: 'delete',
					url: '/api/userAuthToken/'+userAuthTokenId,
					success: resolve,
					error: reject
				});
			});
		};

		$(document).on("click","tr[data-id] [data-role='deleteAuthTokenBtn']",function(e) {
			const userAuthTokenId = $(e.target).closest("[data-id]").attr("data-id");
			const modal = new ConfirmActionModal({
				title: 'Delete Confirmation',
				message: 'Delete this Auth Token?',
				saveCallback: function() {
					deleteUserAuthToken(userAuthTokenId).finally(function() {
						window.location.reload();
					});
				}
			});
			modal.load().then(function() {
				modal.show();
			});
		});
	});
</script>

<h1>Profile</h1>

<div class="card mb-3">
	<div class="card-header"><i class="fas fa-user-circle"></i> Basic Information</div>
	<div class="card-body">
		<form action="/account/profile" method="post">
			<input type="hidden" name="_csrf" value="{{_csrf}}">

			<div class="row">
				<div class="col-12">
					<div class="form-group">
						<label class="font-weight-bold" for="name">Name</label>
						<input class="form-control" type="text" name="name" id="name" autocomplete="name" value="{{user.name}}" placeholder="Name">
					</div>
				</div>

				<div class="col-12">
					<div class="form-group">
						<label class="font-weight-bold" for="username">Username</label>
						<input class="form-control" type="text" name="username" id="username" value="{{user.username}}">
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="float-right">
					<button class="btn btn btn-primary d-print-none" type="submit">
						<i class="fas fa-pencil-alt fa-sm"></i> Update
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-lock"></i> Change Password
	</div>
	<div class="card-body">
		<form action="/account/password" method="post">
			<input type="hidden" name="_csrf" value="{{ _csrf }}">

			<div class="row">
				<div class="col-12">
					<div class="form-group">
						<label class="font-weight-bold" for="password">New Password</label>
						<input class="form-control" type="password" name="password" id="password" autocomplete="new-password" required>
					</div>
				</div>
				<div class="col-12">
					<div class="form-group">
						<label class="font-weight-bold" for="confirmPassword">Confirm Password</label>
						<input class="form-control" type="password" name="confirmPassword" id="confirmPassword" autocomplete="new-password" required>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="float-right">
					<button class="btn btn-primary d-print-none" type="submit">
						<i class="fas fa-lock fa-sm"></i> Change Password
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-palette"></i> Appearance
	</div>
	<div class="card-body">
		<form action="/account/profile" method="post">
			<input type="hidden" name="_csrf" value="{{ _csrf }}">

			<div class="row">
				<div class="col-12">
					<div class="form-group">
						<label class="font-weight-bold" for="theme">Theme</label>
						<select class="form-control" id="theme" name="theme">
							<option value=""{{#eq user.theme ""}} selected{{/eq}}>(no theme)</option>
							<option value="Cerulean"{{#eq user.theme "Cerulean"}} selected{{/eq}}>Cerulean</option>
							<option value="Cosmo"{{#eq user.theme "Cosmo"}} selected{{/eq}}>Cosmo</option>
							<option value="Cyborg"{{#eq user.theme "Cyborg"}} selected{{/eq}}>Cyborg</option>
							<option value="Darkly"{{#eq user.theme "Darkly"}} selected{{/eq}}>Darkly</option>
							<option value="Flatly"{{#eq user.theme "Flatly"}} selected{{/eq}}>Flatly</option>
							<option value="Journal"{{#eq user.theme "Journal"}} selected{{/eq}}>Journal</option>
							<option value="Litera"{{#eq user.theme "Litera"}} selected{{/eq}}>Litera</option>
							<option value="Lumen"{{#eq user.theme "Lumen"}} selected{{/eq}}>Lumen</option>
							<option value="Lux"{{#eq user.theme "Lux"}} selected{{/eq}}>Lux</option>
							<option value="Materia"{{#eq user.theme "Materia"}} selected{{/eq}}>Materia</option>
							<option value="Minty"{{#eq user.theme "Minty"}} selected{{/eq}}>Minty</option>
							<option value="Pulse"{{#eq user.theme "Pulse"}} selected{{/eq}}>Pulse</option>
							<option value="Sandstone"{{#eq user.theme "Sandstone"}} selected{{/eq}}>Sandstone</option>
							<option value="Simplex"{{#eq user.theme "Simplex"}} selected{{/eq}}>Simplex</option>
							<option value="Sketchy"{{#eq user.theme "Sketchy"}} selected{{/eq}}>Sketchy</option>
							<option value="Slate"{{#eq user.theme "Slate"}} selected{{/eq}}>Slate</option>
							<option value="Solar"{{#eq user.theme "Solar"}} selected{{/eq}}>Solar</option>
							<option value="Spacelab"{{#eq user.theme "Spacelab"}} selected{{/eq}}>Spacelab</option>
							<option value="Superhero"{{#eq user.theme "Superhero"}} selected{{/eq}}>Superhero</option>
							<option value="United"{{#eq user.theme "United"}} selected{{/eq}}>United</option>
							<option value="Yeti"{{#eq user.theme "Yeti"}} selected{{/eq}}>Yeti</option>
						</select>
					</div>

					Theme previews at <a href="https://bootswatch.com/4/" rel="noreferrer" target="_blank">https://bootswatch.com/4/</a>.
				</div>
			</div>

			<div class="form-group">
				<div class="float-right">
					<button class="btn btn btn-primary d-print-none" type="submit">
						<i class="fas fa-pencil-alt fa-sm"></i> Update
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-key"></i> Auth Tokens (Api Keys)
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
				<tr>
					<th>Auth Token</th>
					<th>Generated Date</th>
					<th>Expiration Date</th>
					<th class="d-print-none">Actions</th>
				</tr>
				</thead>
				<tbody>
				{{#if userAuthTokens}}
					{{#each userAuthTokens as |userAuthToken|}}
						<tr data-id="{{userAuthToken.id}}">
							<td>{{userAuthToken.authToken}}</td>
							<td>{{userAuthToken.createdAt}}</td>
							<td>{{userAuthToken.expires}}</td>
							<td class="d-print-none">
								<a class="btn btn-sm btn-info" href="/account/view-qr/{{userAuthToken.id}}">Generate QR Code</a>

								<button class="btn btn-sm btn-danger" title="Delete Auth Token" data-role="deleteAuthTokenBtn"><i class="fas fa-trash"></i></button>
							</td>
						</tr>
					{{/each}}
				{{/if}}
				</tbody>
			</table>
		</div>

		<button class="btn btn-primary d-print-none" id="createAuthTokenBtn"{{#gt userAuthTokens.length 0}} disabled{{/gt}}><i class="fas fa-plus"></i> Create Auth Token</button>
	</div>
</div>

<div class="card d-print-none">
	<div class="card-header">
		<i class="fas fa-user"></i> Account
	</div>
	<div class="card-body">
		<div class="float-right">
			<a class="btn btn-danger" id="deleteAccountBtn"><i class="fas fa-user-times"></i> Delete Account</a>
		</div>
	</div>
</div>
