<style>
	label {
		user-select: none;
	}
</style>

<script src="/js/index.js"></script>
<script src="/js/BookComponentPanel.js"></script>
<script>
	$(function() {
		const $booksContainer = $('#booksContainer');

		const onReceivedBooks = function(books) {
			getChaptersRead().then(function(myChaptersRead) {
				_.each(books,function(book) {
					let bookPanel = new BookComponentPanel({book: book.book, chapters: book.chapters, myChaptersRead: myChaptersRead });
					$booksContainer.append(bookPanel.element);
				});
			});
		};

		// The Bible won't change, we can cache the books in localStorage.
		const booksFromLocalStorage = window.localStorage.getItem('books');
		if (booksFromLocalStorage === null) {
			getBooks().then(function (books) {
				window.localStorage.setItem('books',JSON.stringify(books));
				onReceivedBooks(books);
			});
		} else {
			onReceivedBooks(JSON.parse(booksFromLocalStorage));
		}
	});
</script>

<div id="booksContainer"></div>

<div id="bookComponentChapterTemplate" class="d-none">
	<div class="list-group-item">
		<div class="checkbox">
			<label class="m-0">
				\{{#if checked}}<input type="checkbox" checked="checked">\{{/if}} \{{#unless checked}}<input type="checkbox">\{{/unless}} \{{chapterName}}
			</label>

			<div class="float-right">
				<div class="last-read">\{{lastRead}}</div>
			</div>
		</div>
	</div>
</div>

<div id="bookComponentTemplate" class="d-none">
	<div class="card my-3">
		<div class="card-header" role="tab" id="heading\{{uniq}}">
			<h4 class="card-title m-0">
				<a class="collapsed" role="button" data-toggle="collapse" data-target="#collapse\{{uniq}}" href="#collapse\{{uniq}}" aria-expanded="false" aria-controls="collapse\{{uniq}}">
					<div class="book-name">
						\{{book}}

						<span class="float-right">
							<i data-role="icon" class="fas fa-chevron-down"></i>
						</span>
					</div>
				</a>
			</h4>
		</div>
		<div id="collapse\{{uniq}}" class="collapse" role="tabpanel" aria-labelledby="heading\{{uniq}}">
			<div class="list-group"></div>
		</div>
	</div>
</div>

